
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 96;
	width: 220px;
	overflow: hidden;
	background: colour(darkest_grey);
	border-right: 1px solid lighten(colour(dark_grey), 2%);
	color: colour(white);
	box-sizing: border-box;
	transform-style: preserve-3d;

	.light-theme & {
		background: lighten(colour(faint_grey), 2%);
		border-right: none;
	}

	.logo {

		height: 40px;
		margin: 0 auto;
		padding: 30px 0 10px 0;
		width: 100%;
	}

	&__liner {
		overflow-y: auto;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 120px;
		box-sizing: border-box;
		z-index: 2;
		overflow-y: auto;
	}

	&__menu {
		z-index: 2;
		position: relative;
		padding-top: 20px;
		line-height: 1em;

		&__item {
			@include gradient_overlay(3px);
			font-family: "Overpass";
			font-weight: 600;
			font-size: 15px;
			color: colour(white);
			text-decoration: none;
			display: block;
			padding: 13px 10px 10px;
			margin: 0 18px;
			border-radius: 3px;
	
			.light-theme & {
				color: colour(darkest_grey);
				font-weight: 600;
			}

			.icon {
				padding-right: 8px;
				font-size: 1em;
			}

			.status {
				margin-left: 5px;
				float: right;

				.icon {
					padding-right: 0;
					padding-left: 8px;
				}
			}

			&--active {
				background: colour(turquoise);
				color: colour(white);
	
				.light-theme & {
					color: colour(white);
				}

				.status {
					.icon {
						color: colour(white) !important;
					}
				}

				&:before {
					opacity: 0.15;
				}
			}

			&[disabled] {
				opacity: 0.3;
				cursor: not-allowed;
			}

			&:hover:not([disabled]){
				&:before {
					opacity: 0.15;
				}
			}

			&:active {
				@include noanimate();
				transform: translate(1px,1px);
			}
		}

		&__section {
			padding-bottom: 25px;

			&__title {
				display: block;
				padding: 0 26px 5px 26px;
				font-size: 12px;
				text-transform: uppercase;
				opacity: 0.5;
				color: colour(mid_grey);
			}
		}
	}

	.close {
		display: none;
		position: absolute;
		bottom: 4px;
		right: 4px;
		padding: 10px 8px;
		display: inline-block;
		opacity: 0.5;
		z-index: 99;
		
		.light-theme & {
			color: colour(darkest_grey);
		}
	}

	@include responsive($bp_medium){
		@include animate(0.15s);
		width: 220px;
		left: auto;
		right: -220px;
		padding-bottom: 0;
		position: fixed;
		z-index: 100;

		.sidebar-open & {
			-ms-transform: translate(-220px, 0);
			-webkit-transform: translate(-220px, 0);
			transform: translate(-220px, 0);
		}

		&__liner {
			bottom: 0 !important;
			padding-bottom: 30px;
		}

		.thumbnail {
			display: none;
		}

		.close {
			display: block;
		}

		&__menu {
			&__section {
				padding-bottom: 10px;

				&__title {
					padding-bottom: 2px;
				}
			}
		}
	}
}
